/*#tabs1 .container{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
*/
/*--------------------Testeira----------------------------------------------------Início*/
/*
#divTesteira{
    display: flex;
    align-items: center;		
    justify-content: flex-start;
    border: solid 0px tomato;  
    background-color: rgb(20, 75, 112);
    padding-left: 15px;
}
*/
#divTesteira {
    align-items: center;
    background-color: #1976d2;
    border: 0 solid tomato;
    display: flex;
    justify-content: flex-start;
    padding-left: 15px;
}
#divTitulo{
    width: 77%;
    border: solid 0px tomato;  
}
#divData{
    display: block;
    font-size:12px;
    color: #fff;  
    text-align: right; 
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);  
    width: 14%;
    border: solid 0px tomato;  
}
#divClsInfo{
    display: block;
    color: #fff; 
    font-size: 27px; 
    font-weight: 700; 
    text-align: right; 
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    width: 9%;
    border: solid 0px tomato;  
    padding-right:5px;
}    
/*
#divFltLocal{
    text-align: left;
    height:61px; 
    min-height:61px; 
    border: solid 0px greenyellow; 
    background-image: linear-gradient(to bottom, rgb(20, 75, 112), rgba(96, 125, 139, 0.96));    
    padding-left: 15px;
}
*/
#divFltLocal {
    background-image: linear-gradient(to bottom, #1976d2, #1e90ff);
    border: 0 solid greenyellow;
    height: 50px;
    min-height: 50px;
    padding-left: 15px;
    text-align: left;
}
/*--------------------Testeira----------------------------------------------------Finali*/


.divSubTitulos{
    font-size:17px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 0px;
    
    height: 20px;
    border: solid 0px #ffcc00;    
    
    border-left: solid 1px #e3e3e3;
    border-right: solid 1px #e3e3e3;
}    


label{
    font-size:12px;
    font-family: 'Roboto';
}

.frames-nav {
    display: flex;
}

.tdSpaceFiltros{
    min-width: 20px; 
    width: 20px; 
    max-width: 20px;
}
.tdSpaceFiltrosH{
    min-height: 3px; 
    height: 3px; 
    max-height: 3px;
    
}

#frameFltEfetivos{
    margin-bottom: 1px;
    /*margin-left: 0.4em;*/
    /*
    display: flex;   
    flex-wrap: wrap;
    */
    background-color: #fff;
    text-align: center;
    /*box-shadow: 2px 2px 2px #CCC;*/
    border-right: solid 1px #e3e3e3;
    border-bottom: solid 1px #e3e3e3;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 8px;
}


#frameBottom{
    height: 141px;
    background-color: #fff;
    text-align: center;
}
    /*
    #frameBottom #frameResult{
            height: 140px;
            background-image: linear-gradient(to bottom, rgba(96, 125, 139, 0.96), rgba(84, 110, 121, 0.96));
            color: #fff;
            text-align: center;
            width: 100%;	
    }
    */
    #frameBottom #frameResult {
        background-image: linear-gradient(to bottom, #e3e3e3, #d1d1d1, #e3e3e3);
        color: #fff;
        height: 140px;
        text-align: center;
        width: 100%;
    }    

    #frameBottom #tdBoxFiltrosContainer{
            height: 102px;
            padding: 10px;
            background-color: #fff;
            text-align: center;
            width: 100%;	
            /*margin-top:0.4em;*/
            /*border-bottom: solid 1px #e3e3e3;    */
    }

    #frameBottom #tdBtnPesquisar{
            height: 70px;
            /*background-color: #fff;*/
            text-align: center;
            width: 100%;	
            /*margin-top:0.4em;*/
            /*border-bottom: solid 1px #e3e3e3;    */

    }
    
    
    
.tdFiltros {
    background-color: #fff; 
    width:268px; 
    /*padding-top: 16px;    */
    
}    

.divConteinerFiltrosFixos{
    vertical-align: top; 
    min-width: 280px; 
    width: 280px; 
    max-width: 280px;
    
    height: 340px;
    
    
    flex-grow: 2;
    
    border: 2px dashed #1976d2;
    
    padding-left: 18px; 
    padding-right: 6px; 
    padding-top: 10px; 
    
    background-color: #ffffff;
    z-index:1;
} 

.divConteinerFiltros1{
    vertical-align: top; 
    min-width: 280px; 
    width: 280px; 
    max-width: 280px;

    height: 340px;
    
    border: 0px solid tomato;
    
    padding-left: 18px; 
    padding-right: 10px; 
    padding-top: 10px; 
    
    background-color: #ffffff;
    z-index:1;    
}

.divConteinerFiltros2{
    vertical-align: top; 
    min-width: 280px; 
    width: 280px; 
    max-width: 280px;

    height: 340px;
    
    border: 0px solid tomato;
    
    padding-left: 0px; 
    padding-right: 10px; 
    padding-top: 10px; 
    
    background-color: #ffffff;
    z-index:1;    
}

.divConteinerFiltros3{
    display: none;
    vertical-align: top; 
    min-width: 280px; 
    width: 280px; 
    max-width: 280px;

    height: 340px;
    
    border: 0px solid tomato;
    
    
    
    padding-left: 0px; 
    padding-right: 10px; 
    padding-top: 10px; 
    
    background-color: #ffffff;
    z-index:1;    
}

.divFiltrosSelecionados{
    display: none;
    vertical-align: top; 
    min-width: 300px; 
    width: 300px; 
    max-width: 300px;

    height: 340px;
    
    border: 0px solid blue;
    
    padding: 5px; 
    
    background-color: #ffffff;
    z-index:0;    
}




/*nnn*/
.containerFiltrosFan{
    width: 100%;
    border: 0px solid tomato;
    height: 470px;
    min-height: 470px;
    max-height: 470px;   
    
    text-align: center;
    vertical-align: middle;
}
.containerFiltros{
    display: none;
    width: 100%;
    
    height: 530px;
    min-height: 530px;
    max-height: 530px;
    
    border-left: solid 0px greenyellow;
    border-right: solid 0px greenyellow;
    border-bottom: solid 0px greenyellow;
    
}
.containerFiltros #frameNavFlt{
    display: flex;
    align-items: center;		
    justify-content: flex-start;
        
    height: 390px;
    min-height: 390px;
    max-height: 390px;    
    
    background-color: #fff;
    text-align: left;
}

.containerFiltros #frameNavFlt #frameFlt{
   
    display: flex;
    align-items: center;		
    justify-content: space-between;

    padding-left: 20px;
    padding-top: 15px;       
    padding-bottom: 20px;
    
    text-align: left;
}

.containerFiltros #frameNavFlt #frameFltSel{
    display: flex;
    align-items: center;		
    justify-content: space-between;
        
    /*background-color: #2478db;*/
    text-align: left;
    /*padding-left:15px;*/
}

.divBoxF{
    width: 240px;
    height: 134px;
    border: solid 1px tomato;
}



 
/*Filtros Prontos----------------------------------início*/
#divFiltrosUNV{
    display:flex;
    padding-bottom:8px;
    border: solid 0px #ffcc00;
    height: 42px;
}
.btnFiltroUNV{
min-width: 230px; 
width: 230px; 
height: 50px; 
font-size: 18px; 
font-weight: bold;
}
.btnFiltroTC{
    position: relative;
    top:7px;
    min-width: 90px; 
    width: 260px; 
    height: 31px; 
    font-size: 18px; 
    font-weight: bold;
    border-radius: 5px;
}
#btnFiltroTC{
    
}
#btnFiltroTC:hover{
    background-color: #04bd20;
}

#divContainerDescFiltrosUNV{
    display: flex;
}
.divDescFiltrosUNV{
    padding: 5px; 
    width: 219px;
    height: 35px;
    border: solid 0px tomato;
}







/*---------------------------Estilo para Mobile----------------------------Início*/
/*@media(max-width: 768px){*/
@media screen and (max-width: 768px){
    
#divClsInfo{
    display: none;
}
#divData{    
    display: none;
}
    
    
    #divFiltrosUNV{
        align-items: center;
        flex-direction:column;
        border: solid 1px #e3e3e3;
        padding: 10px;        
    }
    .containerFiltros{
        /*height:1500px;*/
    }
    
    .containerFiltros #frameNavFlt{
        align-items: center;
        flex-direction:column;
        padding: 30px;
        /*
        border: solid 1 #e3e3e3;
        padding: 10px;
        */
    }
        .containerFiltros #frameNavFlt #frameFlt{
            align-items: center;
            flex-direction:column;   
            border: solid 1px #e3e3e3;
            padding: 10px;            
        }

        .containerFiltros #frameNavFlt #frameFltSel{
            align-items: center;
            flex-direction:column;   
            border: solid 1px #2478db;
            padding: 0px;        
            width: 344px;
        }
    
        
    #frameFltEfetivos{
        height:280px;
        align-items: center;
        flex-direction:column;   
    }
    
    

    #frameBottom{
        height:280px;
        align-items: center;
        flex-direction:column;   
    }    
    
    .divConteinerFiltrosFixos   {padding:10px;}
    .divConteinerFiltros1       {padding:10px;border: solid 1px #e3e3e3;margin-left:0px;}
    .divConteinerFiltros2       {padding:10px;border: solid 1px #e3e3e3;}
        
    /*
    #divContainerDescFiltrosUNV{
        align-items: center;
        flex-direction:column;   
    }
    */



}
/*---------------------------Estilo para Finali*/


















#navy_footer_box {
    background-color: #ebebeb;
    color: #ffffff;
    min-height: 40px;
    position: relative;
    width: 100%;
}
#navy_footer {
    /*background-color: rgb(20, 75, 112);*/
    background-color: #1976d2;
    font-size: 12px;
    min-height: 40px;
    padding: 15px;
    position: relative;
    /*width: 980px;*/
}

.lblFiltro{
    color: #1976d2;
}
.lblFiltroBold{
    color: #1976d2;
    font-weight: bold;
}